body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: background-color 0.7s;
}

.bg-default {
  background-color: #fafcfc;
}
.bg-peace {
  background-color: #2ecc71;
}
.bg-success {
  background-color: #fff336;
}
.bg-info {
  background-color: #2980b9;
}
.bg-danger {
  background-color: #ff726b;
}

.button-peace {
  background-color: #23B663;
}
.button-success {
  background-color: #fff012;
}
.button-info {
  background-color: #15699F;
}
.button-danger {
  background-color: #ff4035;
}

.btn-group-vertical {
  margin-left: 20px; 
}

.btn-group-vertical > button{
    margin-bottom:20px;
    border-radius:5px !important;
}

.btn {
  border: none;
  height: 50px;
  border-radius: 20px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  text-overflow: ellipsis;

}

.timer-wrapper {
  margin: 150px auto;
  text-align: center;
}


.number{
  width: 0.6em;
  font-size: 40px;
  font-weight:bold;
  line-height: 40px;
  font-family: digital, arial, verdana;
  text-align: center;
  text-shadow: 0 0 5px rgba(200, 200, 200, 1);
}

.progress-bar{
  text-align: right;
}

.panel-heading{
  text-align: center;
}

.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.ng-enter-active{
  opacity: 1;
}
